
*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body{
	background-color: blue;
}

h1{
	font-family: "AR Destine", Helvetica, sans-serif;
	font-size: 64px;
	color: #00aaaa;
	font-weight: bold;
	text-align: center
}


.row {
     width: 100%;
}

.content{
	position: relative;
	border: 1px solid #ffffff;
    background-color: #000000;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    height: 425px;

}

section{
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 20px;
	border: 1px solid white;
	color: white;
	float: right;
	text-align: center;
	padding: 10px;
	padding-right: 15px;
	 padding-left: 15px;
}

.title1{
	background-color: #ff0000;
}

.title2{
	background-color: #558800;
}


.title3{
	background-color: #005588;
}




p{
	font-family: "Arial", Helvetica, sans-serif;
	position: absolute;
	top: 50px;
	margin: 7.5px;
	color: white;
}






@media (min-width: 992px) {

  .col-lg-4 {
    float: left;
  }

  .col-lg-4 {
    width: 33.33%;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12{
    float: left;
  }

  .col-md-6 {
    width: 50%;
  }

   .col-md-12 {
    width: 100%;
  }

}

Contact GitHub 
